@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}


/* Landing Page Default CSS */

.landing-image{
  border-radius: 10%;
  border-width: 14px;
  border-color: #F1F1E6;
  margin-top: 5%;
  width: 540px;
  height: auto;
}

.pill-1{
  left: 9%;
}

.pill-2{
  left: 50%
}

.pill-3{
  bottom: -3%;
  left: 9%;
}

.pill-4{
  left: 45%;
  bottom: -5%;
}

.section-1{
  min-height: 70vh;
}


/* Online Presence Page Default CSS */

.desc_online{
  margin: auto 0 !important;
}


/* Process Page Default CSS */

.arrow{
  rotate: 60deg;
}

.arrow_2{
  transform: scaleY(-1);
  rotate: -60deg;
}

/* Contact Page Default CSS */

.input-control:last-child{
  margin-left: 1.5rem;
}



/* Media Queries for all pages */

/* Width */

@media screen and (min-width: 1200px) and (max-width: 100vw) {
  .IconSizes {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 940px) and (max-width: 1200px) {
  .IconSizes {
    font-size: 1rem;
  }

  .section-1{
    min-height: 60vh;
  }

  .arrow{
    rotate: 60deg;
    width: 45px;
    height: 45px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: -60deg;
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 640px) and (max-width: 940px) {

  .landing_container {
    grid-auto-rows: 300px 400px 1fr !important;
  }

  .section-1{
    min-height: 60vh;
  }

  .landing-image{
    max-width: 330px;
  }

  .image-container{
    margin-top: 20px;
  }

  .image-container-container{
    margin: 0 auto;
    width: 50%;
  }

  .right_container{
    margin-left: 0rem !important;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }
}


@media screen and (min-width: 400px) and (max-width: 640px) {

  .landing_container {
    grid-auto-rows: 450px 320px 1fr !important;
  }
  
  .section-1{
    min-height: 70vh;
  }

  .landing-image{
    max-width: 300px;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }
}


@media screen and (min-width: 400px) and (max-width: 420px) {

  .landing_container {
    grid-auto-rows: 450px 320px 1fr !important;
  }
  
  .section-1{
    min-height: 70vh;
  }

  .landing-image{
    max-width: 250px;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 400px) {

  .landing_container {
    grid-auto-rows: 500px 220px 1fr !important;
  }

  .section-1{
    min-height: 70vh;
  }
  

  .section-2{
    margin-top: 20%;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }

}

@media screen and (width: 360px) {

  .landing_container {
    grid-auto-rows: 570px 300px 1fr !important;
  }

  .section-1{
    min-height: 70vh;
  }

  .landing-image{
    max-width: 230px;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }

}


/* Height */

@media screen and (max-height: 600px) {

  .landing-image{
    max-width: 370px;
  }
  
  .section-1{
    min-height: 70vh;
  }

  .arrow{
    rotate: 60deg;
    width: 50px;
    height: 50px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: -60deg;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-height: 550px){
    
  .navbar ul{
    overflow-y: scroll;
  }

  .arrow{
    rotate: 160deg;
    width: 40px;
    height: 40px;
  }
  
  .arrow_2{
    transform: scaleY(-1);
    rotate: 20deg;
    width: 40px;
    height: 40px;
  }
}











/* Tailwind Styles for all pages */

.top_head_section{
  @apply text-center
}

.head_text {
  @apply mt-5 mb-10 lg:text-5xl md:text-4xl max-md:text-2xl font-normal leading-[1.15] text-black;
}

.head_text_span {
  @apply mt-5 mb-10 lg:text-5xl md:text-4xl max-md:text-2xl font-extrabold leading-[1.15] text-black;
}

.sub_head_text {
  @apply mt-5 mb-10 lg:text-2xl md:text-2xl max-md:text-xl font-semibold leading-[1.15] text-black;
}

.outline_btn {
  @apply rounded-full bg-accent lg:font-bold lg:text-lg lg:py-3 lg:px-7 md:px-3 md:py-2.5 max-md:text-2xl max-md:py-3.5 max-md:px-7 max-sm:px-7 max-sm:py-3.5 max-sm:text-base text-black transition-all hover:bg-secondary-blue hover:text-black hover:shadow-lg duration-300 text-center font-inter flex items-center justify-center;
}

.desc {
  @apply mt-5 max-sm:my-2 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.desc-2 {
  @apply mt-5 text-base text-gray-600 sm:text-lg max-w-2xl;
}

.image{
  @apply border-14 rounded-3xl border-box lg:mt-24
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}







/* Landing Page Tailwind CSS */


.landing_container{
  @apply grid grid-cols-2 items-center justify-center max-md:grid-cols-1;
  grid-auto-rows: minmax(auto, 1fr);
}

.left_container{
  @apply lg:pl-20 pt-12 h-full
}

.right_container{
  @apply mt-4 md:ml-4 relative h-full
}

.button_container{
  @apply flex grid-cols-2 gap-4 md:mt-10 mb-10 items-center;
  grid-auto-rows: minmax(auto, 1fr);
}

.landing_pills{
  @apply flex items-center lg:px-4 md:px-2 lg:py-4 md:py-3 z-10 w-fit rounded-2xl bg-box absolute
}

.outline_btn_2 {
  @apply rounded-full bg-accent md:font-extrabold md:text-lg lg:py-3 lg:px-7 md:px-3 md:py-2.5 max-md:font-bold max-md:text-2xl max-md:py-3.5 max-md:px-7 max-sm:px-7 max-sm:py-3.5 max-sm:text-sm max-sm:font-bold text-black transition-all hover:bg-secondary-blue hover:text-black hover:shadow-lg duration-300 text-center font-inter flex items-center justify-center;
}






/* Services Page Tailwind CSS */

.services_container{
  @apply grid grid-cols-4 justify-center max-md:grid-cols-1 lg:mt-20;  
}

.services_item{
  @apply text-center relative flex-center mb-10;
}

.icon{
  @apply w-fit px-2 py-2 rounded-lg bg-secondary-blue hover:drop-shadow-lg hover:-translate-y-2 duration-300;
}

.icon_text {
  @apply mt-5 mb-10 lg:text-xl md:text-xl max-md:text-lg font-semibold leading-[1.15] text-black;
}




/* Our Philosophy Page Tailwind CSS */

.our_philosophy_container{
  @apply grid grid-cols-2 justify-center max-md:grid-cols-1 lg:mt-20 lg:mb-20;  
}




/* Online Presence Page Tailwind CSS */

.online_presence_container{
  @apply grid grid-cols-2 justify-center max-md:grid-cols-1 lg:mb-20;  
}

.vertical_container{
  @apply grid grid-cols-1 justify-center lg:mb-20 items-center;  
}

.boxes{
  @apply bg-primary-blue opacity-80 flex gap-4 my-6 md:py-3 md:px-4 border-8 border-box rounded-3xl max-md:px-5 w-auto;
}

.calculator_item{
  @apply text-center;
}

.input_item{
  @apply px-6 py-4 rounded-3xl text-xl font-extrabold hover:drop-shadow-lg hover:-translate-y-1 duration-300 w-3/4;
}

.calculator_container{
  @apply bg-primary-blue opacity-80 border-8 border-box rounded-3xl w-auto
}




/* Process Page Tailwind CSS */


.process_container{
  @apply grid grid-cols-9 justify-center max-md:grid-cols-1 lg:mt-20;  
}

.icon_2{
  @apply w-full px-2 py-2;
}


/* Contact Page Tailwind CSS*/

.input-control{
  @apply py-3;
}

.submit-button{
 @apply flex flex-start lg:pl-4 max-md:pl-0;
}

.button-text{
  @apply px-8;
}

.input-textarea{
  @apply rounded-3xl text-base font-medium px-5 py-4 border-solid border-2 border-primary-blue w-full text-primary-blue bg-white;
}

.label-content{
  @apply pl-6;
}


/* SuccessQuotes Footter Tailwind CSS */

.quotes_container{
  @apply grid grid-cols-7 gap-x-10 justify-center w-auto;  
}

.quotes_item{
  @apply px-6 py-2 text-center;
}

.quotes_image{
  @apply rounded-full border-14 border-box w-fit m-auto;
}


/* Nav Component Tailwind CSS */

.navbar{
  @apply flex-between w-full m-auto bg-primary-blue lg:pr-10 h-full md:pr-10;
}

.nav_item{
  @apply flex lg:p-2 font-bold text-white max-md:my-3 md:p-1
}

.link_item{
  @apply flex-center transition ease-in duration-500 overflow-hidden max-sm:text-base md:text-xs max-md:text-2xl lg:text-base 
}

.header{
  @apply fixed w-full top-0 left-0 sticky transition ease-in duration-500 overflow-hidden z-20
}

.nav_active .active{
  @apply border-b-4;
}



/* 
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
} */
